@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1 !important;
}

nav {
  background-color: #fff;
}

nav ul li a {
  color: #009688;
  font-weight: bold;
}

nav ul li a:hover {
  color: black;
}



.dashboard,
.create-profile,
.add-experience,
.add-education,
.add-reference,
.profiles {
  background-color: #fff;
  padding: 10px;
}



.register,
.login {
  padding: 20px;
}

.developerProfile {
  background-color: #009688;
  color: #fff;
  border-radius: 3px;
}

.fa-calendar {
  margin-right: 15px;
}

.calanderColor {
  color: #009688;
}

.formHeader {
  background-color: #009688;
  color: #fff;
}




.myOpacity {
  opacity: 0.6;
}

.personalInfoHeader {
  background-color: #009688;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
}

.iconColor {
  color: #009688;
}

.imagebgc {
  background-color: #009688;
}

.iconImgBgc {
  color: #009688;
}

.showMore {
  color: #009688;
  cursor: pointer;
  padding-left: 5px;
}

.equalHeightCol {
  display: flex;
  flex-direction: column;
}

.blogPageTitle {
  color: #009688;
  padding-top: 10px;
}

.blogPageText {
  text-align: justify;
}

.detailsPageHeader {
  background-color: #009688;
  padding: 10px;
  color: white;
}

.detailsPageText {
  text-align: justify;
}

.blogsPageLink {
  text-decoration: none !important;
  color: black;
  border-radius: 3px;
}

.blogsPageImage {
  height: 240px;
  width: 240px;
}

.blogsPageHeader {
  color: #009688;
  padding-top: 20px;
}

.blogsPageArticles {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headePageText {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #009688;
  padding: 10px;
  color: white;
  border-radius: 3px;
}



.loginForm {
  background-color: #fff;
}

.blogsDashboard {
  background-color: #fff;
  padding: 20px;
}

.landing-page-img {
  width: 100%;
}

.detail-page-video {
  width: 100%;
}

.card-img-caption .landing-page-duration {
  margin: -16px;
  right: 16px;
  position: absolute;
  z-index: 1;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.8);
  opacity: 0.8;
  padding: 2px 4px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.avatar {
  width: 60px;
  height: 60px;
  padding: 0 10px 0 0;
}

.paraHeight {
  line-height: 7px;
  padding-bottom: 0;
}

.react-responsive-modal-modal {
  width: 600px;
  background: white;
  border-radius: 3px;
}

.custom-toggler.navbar-toggler {
  border-color: #009688;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='red' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-menu-link {
  font-size: 12px;
}

.NoBlogsBgc {
  background-color: #fff;
}

.donotshow {
  display: none;
}

.tellUsAbout {
  color: white;
}

.pageNotFound {
  background-color: red;
}