/* @import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1 !important;
}

nav {
  background-color: #fff;
}

nav ul li a {
  color: #009688;
  font-weight: bold;
}

nav ul li a:hover {
  color: black;
}



.dashboard,
.create-profile,
.add-experience,
.add-education,
.add-reference,
.profiles {
  background-color: #fff;
  padding: 10px;
}

.honeydew {
  background-color: honeydew;
}


.register,
.login {
  padding: 20px;
}

.developerProfile {
  background-color: #009688;
  color: #fff;
  border-radius: 3px;
}

.fa-calendar {
  margin-right: 15px;
}

.calanderColor {
  color: #009688;
}

.formHeader {
  background-color: #009688;
  color: #fff;
}




.myOpacity {
  opacity: 0.6;
}

.personalInfoHeader {
  background-color: #009688;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
}

.iconColor {
  color: #009688;
}

.imagebgc {
  background-color: #009688;
}

.iconImgBgc {
  color: #009688;
}

.showMore {
  color: #009688;
  cursor: pointer;
  padding-left: 5px;
}

.equalHeightCol {
  display: flex;
  flex-direction: column;
}

.blogPageTitle {
  color: #009688;
  padding-top: 10px;
}

.blogPageText {
  text-align: justify;
}

.detailsPageHeader {
  background-color: #009688;
  padding: 10px;
  color: white;
}

.detailsPageText {
  text-align: justify;
}

.blogsPageLink {
  text-decoration: none !important;
  color: black;
  border-radius: 3px;
}

.blogsPageImage {
  height: 240px;
  width: 240px;
}

.blogsPageHeader {
  color: #009688;
  padding-top: 20px;
}

.blogsPageArticles {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headePageText {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #009688;
  padding: 10px;
  color: white;
  border-radius: 3px;
}



.loginForm {
  background-color: #fff;
}

.blogsDashboard {
  background-color: #fff;
  padding: 20px;
}

.landing-page-img {
  width: 100%;
}

.detail-page-video {
  width: 100%;
}

.card-img-caption .landing-page-duration {
  margin: -16px;
  right: 16px;
  position: absolute;
  z-index: 1;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.8);
  opacity: 0.8;
  padding: 2px 4px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.avatar {
  width: 60px;
  height: 60px;
  padding: 0 10px 0 0;
}

.paraHeight {
  line-height: 7px;
  padding-bottom: 0;
}

.react-responsive-modal-modal {
  width: 600px;
  background: white;
  border-radius: 3px;
}

.custom-toggler.navbar-toggler {
  border-color: #009688;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='red' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-menu-link {
  font-size: 12px;
}

.NoBlogsBgc {
  background-color: #fff;
}

.donotshow {
  display: none;
}

.tellUsAbout {
  color: white;
}

.pageNotFound {
  background-color: red;
} */

/* css variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgb(104, 104, 104, 0.8);
  --topBar: #009688;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: var(--light);
  margin: 0px 50px 30px 50px;
  line-height: 1.4;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: var(--light);
}

/* NAVIGATION */

nav {
  background-color: #fff;
}

nav ul li a {
  color: #009688;
  font-weight: bold;
}

nav ul li a:hover {
  color: black;
}

.custom-toggler.navbar-toggler {
  border-color: #009688;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='red' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-menu-link {
  font-size: 12px;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
  margin-top: -20px;
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*Landing page*/

/* Top container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'showcase showcase top-box-a''showcase showcase top-box-b';
}

/* showcase*/
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*   box-shadow: var(--shadow); */
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase h3 {
  font-size: 2rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase p {
  font-size: 1.3rem;
  margin-bottom: 0;
  color: var(--light);
}

.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  margin: 5px;
}

.btn:hover {
  color: var(--light);
}

.btn-topbar {
  background: var(--topBar);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  margin: 5px;
}

.btn-red {
  background: red;
}

.btn-small {
  color: var(--white);
  padding: 5px 10px;
  text-decoration: none;
  margin: 5px;
  border: 0;
  border-radius: 3px;
}

/*top box*/
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  /* box-shadow: var(--shadow); */
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/*Profile page*/

.headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url('./img/ertale.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.headline h2,
h4,
h5,
p {
  color: var(--light);
  text-align: center;
}

.NoProfiles h4,
p {
  padding: 5px;
  text-align: center;
}

/*blogs*/
.list-of-blogs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.list-of-blogs h5 {
  background: var(--topBar);
  color: var(--light);
  padding: 5px;
}

.list-of-articles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.list-of-articles h5 {
  background: var(--topBar);
  color: var(--light);
  padding: 5px;
}

.blogs-header-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 'blogs-header-body';
}

.blogs-header-body {
  grid-area: blogs-header-body;
  max-width: 600px;
  padding-bottom: 20px;
}

.blogs-header-body img {
  max-height: 400px;
}

.blogs-header-body h5 {
  color: var(--light);
  padding: 10px 0 20px 0;
  background: var(--topBar);
  margin-bottom: 10px;
}

.blogs {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 20px;
}

.blog {
  text-align: center;
  padding: 0 0 1rem 0;
  box-shadow: var(--shadow);
}

.blog img {
  width: 100%;
  max-height: 240px;
  box-shadow: var(--shadow);
  margin-bottom: 10px;
}

.blog p {
  color: var(--dark);
  padding: 5px;
}

.blog h6 {
  color: var(--topBar);
  padding: 5px;
}

/*details blogs page*/
.details-blogs-boxes-back-to {
  display: grid;
  grid-gap: 20px;
  padding-bottom: 20px;
  grid-template-columns: 100%;
}

.details-blogs-boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.details-blogs-box h5 {
  color: var(--light);
  background: var(--topBar);
  padding: 5px;
}

.details-blogs-box p {
  color: var(--dark);
  text-align: justify;
  padding: 20px;
}

.details-blogs-box img {
  width: 100%;
}

.blogs-comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 20px;
  border-top: 1px solid #000;
  text-align: left;
}

.blogs-comment p {
  color: var(--dark);
  text-align: justify;
}

.blogs-comment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 20px;
  border-top: 1px solid #000;
}

.blogs-comment-form p {
  color: var(--dark);
  text-align: justify;
}

.commented-by span {
  padding: 10px;
  margin: 10px;
}

.commented-by img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.displayFeeds {
  margin-top: 20px;
}

/*feeds-page*/
.feeds-page {
  display: grid;
  grid-gap: 30px;
  padding-top: 50px;
  grid-template-columns: 20% 60% 20%;
}

.feeds-page-item p {
  padding: 20px;
  text-align: justify;
}

.feeds-page-item img {
  width: 100%;
}


.feeds-item-container {
  border: 1px solid lightgray;
  padding: 20px;

  margin-top: 20px;
}

.post-avatar span {
  padding-left: 10px;
  color: var(--dark);
  font-style: italic;
  font-size: 14px;
}

.avatar {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
}

.post-main-body {
  padding: 20px;
}

.showMore-blue {
  color: blue;
}

.comment-form-feeds {
  border: 1px darkgray solid;
}

.feeds-page-post-form {
  padding: 20px;
}

.feeds-page-post-form-container {
  margin-top: 20px;
  border: 1px darkgray solid;
}

.comment-form-text {
  color: var(--dark);
}

.feeds-page-item-body-color {
  background-color: var(--dark);
}

/*boxes*/
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box-follow-us {
  padding: 20px;
}

.box h5 {
  color: var(--dark);
}

.box {
  text-align: center;
  padding: 0 0 1rem 0;
  box-shadow: var(--shadow);
}

.box p {
  color: var(--dark);
}

.box .btn {
  background: var(--topBar);
}

.box img {
  width: 100%;
  box-shadow: var(--shadow);
  margin-bottom: 10px;
}

/*info*/
.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-areas: repeat(2, 1fr);
  padding: 3rem;
}

.info p {
  color: var(--dark);
  text-align: justify;
}

.section-follow-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--topBar);
}

.section-follow-us h3 {
  color: var(--light);
  padding: 5px;
}

.headline-profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--topBar);
  margin-bottom: 20px;
}

.headline-profiles h2,
p {
  color: var(--light);
  padding: 5px;

}

.section-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--topBar);

}

.section-portfolio h3 {
  color: var(--light);
  padding: 5px;

}

/*portfolio*/
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

/*register and login page*/
.reigister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-form {
  text-align: center;
  background: var(--topBar);
  border-radius: 3px;
  padding: 20px;
}

.register-form {
  color: var(--light);
}

.upload {
  padding: 5px;
}

.upload h6 {
  text-align: left;
  color: var(--light);
}

.upload p {
  text-align: left;
  color: var(--light);
}

.register-form h2,
h5 {
  color: var(--light);
}

.register-form form>p {
  color: var(--light);
}

.register-form form>input {
  background: var(--topBar);
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dashbord-header {
  text-align: center;
  background: var(--topBar);
  color: var(--light);
  padding: 10px;
  border-radius: 3px;
}

.dashbord-img {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.dashboard img {
  padding-right: 10px;
  max-width: 160px;
  max-height: 160px;
  border-radius: 50%;
}

.dashbord-content {
  border-bottom: 1px solid #000;
}

.dashbord-content h5 {
  text-align: left;
}

/*profile detail*/
.back-to {
  display: flex;
  flex-direction: column;
  color: var(--light);
  background: var(--dark);
}

.fa-arrow-alt-circle-left {
  float: left;
}

.profile-detail-back-to {
  text-align: center;
  font-size: 24px;
}

.profile-detail {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'header personal personal about about''header experience experience education education''header skills skills reference reference''header portfolios portfolios hobby hobby';
  padding-top: 10px;
}

/* header*/
.header {
  grid-area: header;
  background-color: var(--topBar);
}

/* personal*/
.personal {
  grid-area: personal;
}

.profile-body {
  padding: 20px;
}

.profile-body h5 {
  color: var(--dark);
}

.profile-body p {
  text-align: justify;
  line-height: 1.4;
  color: var(--dark);
}

.profile-body li {
  list-style-type: square;
  margin-left: -30px;
}

.profile-body-header img {
  width: 100%;
}

.profile-body-header-content {
  background-color: var(--topBar);
  color: var(--light);
  padding: 10px;
  text-align: center;
}

.profile-body-header-content a {
  color: var(--light);
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light);
}

.profile-body-icon {
  color: var(--topBar);
  margin-right: 10px;
}

/* about*/
.about {
  grid-area: about;
}

/* experience*/
.experience {
  grid-area: experience;
}

/* education*/
.education {
  grid-area: education;
}

/* skills*/
.skills {
  grid-area: skills;
}

/* reference*/
.reference {
  grid-area: reference;
}

/* portfolios*/
.portfolios {
  grid-area: portfolios;
}

/* hobby*/
.hobby {
  grid-area: hobby;
}

.profile-header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--topBar) !important;
  color: var(--light) !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.fa-calendar,
.fa-envelope {
  color: var(--topBar);
  margin-right: 10px;
}

.fa-check {
  margin-left: 20px;
  color: var(--topBar);
  margin-right: 10px;
}

/*footer*/
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* SEARCH FUNCTION */

#search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0;
  /* FOR SAFARI */
  outline: 0;
  padding: 5px;
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .top-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
  }

  .profile-detail {
    grid-template-areas: 'header personal'' header about'' header experience''header education''header skills''header portfolios''header hobby''header reference';
    padding-top: 10px;
  }

  .feeds-page {
    display: grid;
    grid-gap: 0px;
    padding-top: 50px;
    grid-template-columns: 0% 100% 00%;
  }

  .blogs-header-content {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 'blogs-header-body';
  }

  .details-blogs-boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }



  .showcase h1 {
    font-size: 2.5rem;
  }

  /* MOBILE HEADINGS */

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* SECTIONS */

  .headline {
    height: 20vh;
  }

  .feature-container p {
    margin-bottom: 25px;
  }

  .feature-container {
    margin-top: 20px;
  }

  .feature-container:nth-child(2) {
    order: -1;
  }

  /* SEARCH DISABLED ON MOBILE */

  #search-icon {
    display: none;
  }

  .search-input {
    display: none;
  }
}

@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b';
  }

  .feeds-page {
    display: grid;
    grid-gap: 0px;
    padding-top: 50px;
    grid-template-columns: 0% 100% 00%;
  }

  .blogs-header-content {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 'blogs-header-body';
  }

  .profile-detail {
    grid-template-areas: 'header''personal''about''experience''education''skills''portfolios''hobby''reference';
    padding-top: 10px;
  }


  .blogs-header-body {
    grid-area: blogs-header-body;
    max-width: 350px;
    padding-bottom: 20px;
  }
}